* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    
}

header {
    width: 1000px;
    height: 600px;
    background-image: url(../img/wing7.jpg);
}

.headerBackground {
    width: 1000px;
    height: 600px;
    background-color: black;
    opacity: 0.6;    
}

.clearFloat {
    clear: both;
}

.headerContent {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
}

.headerContent h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: aliceblue;
    padding-bottom: 30px;
}

.headerContent p {
    width: 500px;
    font-size: 12px;
    color: white;
    opacity: 0.7;
    padding-bottom: 30px;
}

.headerContent div {
    width: 600px;
    border: 1px rgb(214, 209, 209) solid;
    padding-top: 30px;
    padding-bottom: 30px;
}

.headerContent div p:nth-of-type(1) {
    font-size: 20px;
    color: aliceblue;
    opacity: 1;
    padding-bottom: 5px;
}

.headerContent div p:nth-of-type(2) {
    font-size: 12px;
    color: white;
    padding-bottom: 30px;
}

.normalInput {
    width: 200px;
    height: 30px;
    color: #fff;
    background-color: transparent;
    border: 1px rgb(214, 209, 209) solid;
    padding-left: 5px;
    margin-right: 15px;
}

.submitButton {
    width: 100px;
    height: 30px;
    color: black;
    opacity: 1;
    border: none;
    background-color: #fff;
    border: 1px #fff solid;
}

.section_1 {
    width: 1000px;
    background-color: #fff;
    color: black;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 250px;
}

.section_1 p:nth-of-type(1) {
    width: 500px;
    font-size: 12px;
    padding-bottom: 10px;
}

.section_1 p:nth-of-type(2) {
    font-size: 30px;
    width: 500px;
    line-height: 30px;
    padding-bottom: 30px;
}

.section_1_left {
    width: 50%;
    height: 50px;
    float: left;
}

.section_1_right {
    width: 50%;
    height: 50px;
    float: right;
}

.section_1_left div {
    width: 60%;
    margin-right: 20px;
    padding-top: 0;
    clear: left;
    position: relative;
}

.section_1_left div .iphoneIcon {
    background-image: url(../img/Iphone\ Icon.png);
    width: 30px;
    height: 49px;
    border: none;
    float: left;
}

.wordLeft {
    position: fixed;
    left: -50px;
    top: -55px;

}

.section_1_left div p:nth-of-type(1) {
    font-size: 20px;
    width: 200px;
    text-align: left;
    padding: 0;
}

.section_1_left div p:nth-of-type(2) {
    font-size: 12px;
    width: 280px;
    line-height: 20px;
    opacity: 0.6;
    text-align: left;
}

.section_1_right div {
    width: 60%;
    margin-left: 20px;
    padding-top: 0;
    clear: right;
    position: relative;
}

.section_1_right div .iphoneIcon {
    background-image: url(../img/Iphone\ Icon.png);
    width: 30px;
    height: 49px;
    border: none;
    float: left;
}  

.wordRight {
    position: fixed;
    left: 20px;
    top: -7px;
}

.section_1_right div p:nth-of-type(1) {
    font-size: 20px;
    width: 200px;
    text-align: left;
    padding: 0;
}

.section_1_right div p:nth-of-type(2) {
    font-size: 12px;
    width: 290px;
    line-height: 20px;
    opacity: 0.6;
    text-align: left;
    margin-bottom: 50px;
}

.section_2 {
    width: 1000px;
    height: 500px;
    background-image: url(../img/section_2\ backgroundimg.png);
}

.section_2_background {
    width: 1000px;
    height: 500px;
    background-image: url(../img/section_2Background.png);
}

.section_2_word {
    width: 60%;
    height: 500px;
    float: left;
    padding-top: 100px;
}

.section_2_word p:nth-of-type(1){
    width: 230px;
    color: #fff;
    font-size: 25px;
    padding-bottom: 15px;
}

.section_2_word p:nth-of-type(2){
    width: 230px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 30px;
}

.section_2_word input:nth-of-type(1) {
    width: 150px;
    height: 30px;
    font-size: 8px;
    background-color: #fff;
    border: #fff;
    margin-left: 185px;
}

.section_2_word input:nth-of-type(2) {
    width: 150px;
    height: 30px;
    font-size: 8px;
    color: rgb(201, 200, 200);
    background-color: transparent;
    border: 1px rgb(110, 110, 110) solid;
    margin-left: 20px;
    clear: both;
}

.section_2_pic {
    width: 40%;
    height: 500px;
    float: right;
    text-align: right;
    padding-top: 5%;
}

.section_2_pic img:nth-of-type(1) { 
    width: 400px;
    height: 400px;
}

.section_2_pic img:nth-of-type(2) { 
    width: 362px;
    height: 359px;
    position: relative;
    top: -385px;
    clear: both;
}

.section_3 {
    width: 1000px;
    text-align: center;
    clear: both;
    border-bottom: 1px rgb(175, 175, 175) solid;
    margin-bottom: 40px;
}

.section_3_title {
    width: 700px;
    color: black;
    font-size: 30px;
    font-family: "Montserrat";
    margin-top: 40px;
    margin-bottom: 30px;
}

.section_3_content {
    width: 700px;
    padding: 0 20px;
    margin-bottom: 40px;
    display: flex;
}

.section_3_content div {
    flex: 1;
}

.section_3_content div img {
    width: 80px;
    height: 30px;
    margin-bottom: 15px;
}

.section_3_content div p {
    font-size: 10px;
}

.section_4 {
    width: 1000px;
    border-bottom: 1px rgb(175, 175, 175) solid;
}

.section_4_content {
    width: 700px;
}

.section_4_leftImg img{
    width: 55%;
    height: 200x;
    float: left;
    margin-bottom: 30px;
}

.section_4_rightWord {
    width: 35%;
    float: right;
}

.section_4_rightWord p:nth-of-type(1) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section_4_rightWord p:nth-of-type(2) {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

.section_4_leftWord {
    width: 35%;
    clear: both;
    float: left;
}

.section_4_leftWord p:nth-of-type(1) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section_4_leftWord p:nth-of-type(2) {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

.section_4_rightImg img{
    width: 55%;
    height: 200x;
    float: right;
    margin-bottom: 30px;
}

.section_5 {
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px rgb(175, 175, 175) solid;
}

.section_5 p:nth-of-type(1) {
    width: 700px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.section_5 p:nth-of-type(2) {
    width: 500px;
    font-size: 12px;
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}

.section_5_content {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.section_5_content div {
    min-width: 340px;
    height: 220px;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 20px;
}

.personLink {
    min-width: 340px;
    height: 220px;
    background-color: black;
    opacity: 0.9;
    z-index: 999;
    border: 1px green solid;
}

.section_5_content div:nth-of-type(1) {
    background-image: url(../img/person1.png);
    background-size: 100% 100%;
    margin-right: 20px;
}

.section_5_content div:nth-of-type(2) {
    background-image: url(../img/person2.png);
    background-size: 100% 100%;
}

.section_5_content div:nth-of-type(3) {
    background-image: url(../img/person3.png);
    background-size: 100% 100%;
    margin-right: 20px;
}

.section_5_content div:nth-of-type(4) {
    background-image: url(../img/person4.png);
    background-size: 100% 100%;
}

.section_6 {
    width: 700px;
    margin-bottom: 30px;
}

.section_6_left {
    text-align: center;
    padding-top: 20px;
    width: 340px;
    float: left;
    border: 1px rgb(175, 175, 175) solid;
    margin-bottom: 30px;
    margin-right: 40px;
}

.section_6_left p {
    font-size: 12px;
    margin-bottom: 30px;
}

.section_6_left input {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border: 1px rgb(175, 175, 175) solid;
    margin-bottom: 15px;
}

.section_6_right {
    width: 300px;
    float: right;
    text-align: left;
    padding-top: 40px;
}

.section_6_right p:nth-of-type(1) {
    font-size: 30px;
    margin-bottom: 20px;
}

.section_6_right p:nth-of-type(2) {
    font-size: 12px;
    color: rgb(201, 200, 200);
    margin-bottom: 20px;
}

.section_6_right img {
    width: 20px;
    height: 25px;
    margin-right: 10px;
}

.section_6_right span {
    font-size: 12px;
    width: 100px;
    line-height: 20px;
    text-align: center;
}
