* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

hr {
    width: 100%;
    
    border: 0.5px rgb(188, 188, 188) solid;
    clear: both;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(38, 38, 38);
}

.navHeader {
    width: 960px;
    margin: 0 auto;
    line-height: 60px;
}

.navHeader p {
    margin: 0;
    font-size: 30px;
    color: #fff;
    float: left;
}

.navHeader ul {
    margin: 0;
    float: right;
}

.navHeader li {
    list-style-type: none;
    display: inline-block;
}

.navHeader a {
    color: #fff;
}

.banner {
    width: 100%;
    height: 250px;
    background-color: rgb(87, 177, 39);
}

.navBanner {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.navBanner ul{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.navBanner li {
    list-style-type: none;
    border: 1px rgb(188, 188, 188) solid;
    background-color: white;
    color: black;
    float: left;
    width: 25px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    opacity: 0.3;
}

.navBanner li.activeLi {
    opacity: 0.7;
}

.navBanner li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(83, 83, 83);
}

.navContent {
    width: 960px;
    padding-left: 0;
    margin: 0 auto;
}

.navContent ul {
    padding-left: 0;
    margin-top: 20px;
    position: relative;
    top: 1px;
}

.navContent li {
    float: left;
    padding: 5px 15px 5px 15px;
    border: 1px rgb(188, 188, 188) solid;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgb(233, 233, 233);
    list-style-type: none;
}

.navContent li.activeLi {
    border-bottom: 1px white solid;
    background-color: white;
}

.navContent li a {
    font-size: 10px;
    color: black;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

.content {
    width: 960px;
    display: flex;
    flex-flow: wrap;
    align-self: auto;
    justify-content: space-between;
    margin: 0 auto;
}

.content div {
    min-width: 10%;
    padding: 80px;
    margin-bottom: 10px;
    border: 1px rgb(188, 188, 188) solid;
}

.content:after {
    content: "";
    width: 460px;
}